
.saleCardWrapperStyle {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 32px;
  margin-bottom: 5px;
}


  @media (max-width: 1437px) and (min-width: 1000px) {
    .saleCardWrapperStyle {
      grid-template-columns: repeat(4,1fr);
      object-fit: cover;
      
    }}
  
  @media (max-width: 999px) and (min-width: 768px) {
    .saleCardWrapperStyle {
      grid-template-columns: repeat(2,1fr);
      
    }}
  @media (max-width: 767px) and (min-width: 480px) {
    .saleCardWrapperStyle {
      grid-template-columns: repeat(2,1fr);
      
    }}
  @media (max-width: 479px) and (min-width: 360px) {
    .saleCardWrapperStyle {
      grid-template-columns: repeat(1,1fr);
      
}}