
.favoritesList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    justify-content: center;
    padding-top: 32px;
    gap: 25px;
}

.button_details{
    background-color: #92A134;
    border: none;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    width: 313px;
    height: 58px;
    color: white !important;
    margin-top: 32px;
}
.button_details:hover{
    background-color: #424436;
    border: 1px solid #FFFFF1 !important;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    width: 313px;
    height: 58px;
    color: white !important;
}

    .favoritesList {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        padding-top: 32px;
        gap: 20px;
    }


@media (max-width: 999px) and (min-width: 768px) {
    .favoritesList{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        gap: 20px;
    }
}

@media (max-width: 767px) and (min-width: 480px) {
    .favoritesList{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 479px) and (min-width: 360px){
    .favoritesList{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }
} 
  
  
  