
/* .container{
  padding: 40px;
	max-width: 1440px; 
	box-sizing: border-box;
}

  .category_img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .buttons_wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .buttons_wrapper button {
    position: relative;
  }
  
  .buttons_wrapper button:not(:first-child)::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -16px;
    width: 16px;
    height: 1px;
    background-color: var(--grey-divider);
    transform: translateY(-50%);
  }
  .categories_items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
     justify-content:center;
     align-self: start;
     align-content: flex-start;
     align-items:first baseline;
  
   
  }
  
  .category_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .category_title {
    margin-top: 10px;
    text-align: center;
  }
  
  @media (max-width: 480px) {
    .buttons_wrapper {
      display: none;
    }
    
  }
  
  .button_with_line {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .category_img {
    max-width: 248px;
    max-height: 350px;
       justify-content: center;
      align-items: center;
    
  }
  
  @media (max-width: 1440px) {
    .category_img {
      width: 248px;
      height: 350px;
        
      
    }
  }
  
  @media (max-width: 1000px) {
    .category_img {
      max-width: 306px;
      height: 250px; 
      justify-content: space-between;    

    }
  }
  
  @media (max-width: 768px) {
    .category_img {
      max-width: 354px;
      
    }
    .categories_items {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
   
    }
  }
  
  

  @media (max-width: 480px) {
    .categories_items {
      justify-content: center;
    }

  }
  @media (max-width: 360px) {
    .category_img {
      max-width: 320px;
      max-height: 220px;
    }
    .categories_items {
      gap: 20px;
     align-items: center;
     justify-content: center;
    }
  }
  

   */


   .container {
    padding: 40px;
    max-width: 1440px;
    box-sizing: border-box;
  }
  
  .title_wrapper {
    text-align: center;
  }
  
  .buttons_wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .buttons_wrapper button {
    position: relative;
  }
  
  .buttons_wrapper button:not(:first-child)::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -16px;
    width: 16px;
    height: 1px;
    background-color: var(--grey-divider);
    transform: translateY(-50%);
  }
  
  .categories_items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }
  
  .category_img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media (max-width: 1440px) {
    .categories_items {
      grid-template-columns: repeat(4, 248px);
      gap: 30px;
    }
  
    .category_img {
      width: 248px;
      height: 350px;
    }
  }
  
  @media (max-width: 1000px) {
    .categories_items {
      grid-template-columns: repeat(3, 306px);
      gap: 20px;
    }
  
    .category_img {
      width: 306px;
      height: 250px;
    }
  }
  
  @media (max-width: 768px) {
    .categories_items {
      grid-template-columns: repeat(2, 354px);
      gap: 20px;
    }
  
    .category_img {
      width: 354px;
      height: 250px;
    }
  }
  
  @media (max-width: 480px) {
    .categories_items {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content:center; 
    }
  
    .category_img {
      width: 210px;
      height: 254px;
    }
  }
  
  @media (max-width: 360px) {
    .categories_items {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }
  
    .category_img {
      width: 320px;
      height: 220px;
    }
  }
  