.wrapper_container {
  margin-top: 40px;
}

.title_wrapper {
  text-align: center;
}

.buttons_wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.buttons_wrapper button {
  position: relative;
}

.buttons_wrapper button:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -16px;
  width: 16px;
  height: 1px;
  background-color: var(--grey-divider);
  transform: translateY(-50%);
}


.category_img {
  border-radius: 12px;
  max-width: 248px;
  height: 350px;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 14px 8px 20px rgba(152, 223, 124, 0.1);
  transition: all var(--transition);
}

.categories_items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  cursor: pointer;
}
.category_img:hover{
  transform: translateY(-5px);
  box-shadow: 10px 18px 30px rgba(139, 237, 73, 0.3); 
}

.category_content {
  display: flex;
  flex-direction: column;
}

.category_title {
  margin-top: 10px;
  text-align: center;
}

    
@media (max-width: 1000px) {
  .category_img {
    max-width: 306px;
    height: 250px;
    object-fit: cover;
  }
  .categories_items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  
}
@media (max-width: 999px) {
  .category_img {
    max-width: 490px;
    height: 250px;
    object-fit: cover;
  }
  .categories_items {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .category_img {
    max-width: 354px;
    height: 250px;
    object-fit: cover;
  }
  .categories_items {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
}
@media (max-width: 659px) {
  .category_img {
    max-width: 354px;
    height: 250px;
    object-fit: cover;
  }
  .categories_items {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .category_img {
    max-width: 210px;
    height: 254px;
    object-fit: cover; 
  }
  .categories_items {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
  }
}

@media (max-width: 360px) {
  .category_img {
    max-width: 320px;
    height: 220px;
  }
}
