.products_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    padding-top: 5px;
    gap: 32px;
}


@media (max-width: 1000px) {

    .products_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        padding-top: 32px;
        gap: 20px;
    }
}

@media (max-width:768px) {
    .products_grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .products_grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 360px) {
    .products_grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }
} 
  
  
  