.filter_sort_wrapper {
    display: flex;
    gap: 40px;
    padding: 40px 0px;
}

select {
    border: 1px solid var(--grey-divider);
    border-radius: 6px;
    padding: 8px 8px 8px 16px;
    width: 200px;
    height: 36px;
}

@media screen and (max-width: 768px) {
    .filter_sort_wrapper {
        flex-direction: column;
        gap: 20px;
    }
}
