
  .mobileMenu {
    position: fixed;
    top: 0;
    right: -50%; 
    bottom: 0;
    width: 50%; 
    background-color: #FFFFF1;
    z-index: 1000;
    transition: right 0.8s ease-in-out; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 44px;
    align-items: flex-start;
    padding-left: 32px;   
  }
  
  .mobileMenu.open {
    right: 0; 
  } 
  
  .mobileMenu.darkMode {
    background-color: #424436;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 44px;
    height: 44px;
    stroke:#0000;
  }
  
  .prob { 
    margin-top: 36px;
  }
  
  .link { 
    padding: 10px; 
    text-decoration: none; 
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    color: var(--black);
    transition: color var(--transition);
  }
  
  .link.darkMode {
    color: #ffffff;
  }
  
  .link:hover, 
  .link:focus {
    color:var(--green);
  }
  
  .button_discount {
    font-size: large;
  }
  
  @media (min-width: 767px) {
    .mobileMenu {
      display: none;
    }
  }
  