.product_item {
  position: relative;
  background: white;
  border: 1px solid #dddddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  width: 316px;
  width: 100%;
}
.product_item.dark-mode {
  background-color: #383A2C;
}


.product_item:hover {
  transform: translateY(-5px);
}

.category_content {
  text-align: center;
}

.image_container {
  position: relative;
}

.icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category_img {
  width: 316px;
  height: 283px;
  border-bottom: 1px solid #dddddd;
  object-fit: cover;
}

.product_title {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  width: 252px;
  height: auto;
  margin: 20px 32px 16px 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #424436;
  text-decoration: none;
  display: block;
}
.product_title.dark-mode {
  color: #FFFFFF;
}

.product_title:hover {
  white-space: normal;
  overflow: visible;
}


.product_price {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 40px;
  color: #424436;
  text-align: left;
  padding: 0 32px 32px 32px;
}
.product_price.dark-mode {
  color: #FFFFFF;
}

.original_price.dark-mode {
  color: #FFFFFF;
}

.discont_price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  text-decoration: line-through;
  color: #8b8b8b;
  padding-left: 16px;
}
.discont_price.dark-mode {
  color: #8B8B8B;
}

.discont_tag {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 6px;
  padding: 4px 8px;
  width: 67px;
  height: 34px;
  background: var(--sale);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--txt-white);
}

@media (max-width: 1437px) and (min-width: 1000px) {

  .product_item {
      width: 220px;
  }
  .category_img {
      width: 220px;
      height: 230px;
  }
  .product_title {
      width: 185px;
      height: 52px;
      margin: 20px 0px 0px 20px;
  }
  .product_price {
      padding: 0 20px 20px 20px;
  }
}

@media  (max-width: 999px) and (min-width: 768px)  {

  .product_item {
      width: 343px;
  }
  .category_img {
      width: 343px;
      height: 290px;
  }
  .product_title {
      width: 314px;
      height: 26px;
      margin: 20px 20px 10px 20px;
  }
  .product_price {
      padding: 0 20px 20px 20px;
  }
}

@media (max-width: 767px) and (min-width: 480px) {

  .product_item {
      width: 210px;
  }
  .category_img {
      width: 210px;
      height: 200px;
  }
  .product_title {
      font-size: 18px;
      width: 170px;
      height: 23px;
      margin: 20px 20px 10px 20px;
  }
  .product_price {
      font-size: 36px;
      padding: 20px 20px 20px 20px;
  }
  .discont_price {
      font-size: 18px;
  }
}

@media (max-width: 479px) and (min-width: 360px)  {

  .product_item {
      width: 320px;
  }
  .category_img {
      width: 320px;
      height: 280px;
  }
  .product_title {
      font-size: 18px;
      width: 170px;
      height: 23px;
      margin: 20px 20px 10px 20px;
      width: 280px;
      overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    transition: width 0.3s; 
  }
  .product_title:hover {
    width: auto; 
    white-space: normal; 
    overflow: visible; 
}
  .product_price {
      font-size: 36px;
      padding: 5px 20px 20px 20px;
  }
  .discont_price {
      font-size: 18px;
  }
} 




.modal_product_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal_category_img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 12px;
   width: 484px;
   height: 422px;
}

.modal_icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 20px;
}

.modal_product_title,
.modal_product_price {
  text-align: left;
  align-self: flex-start;
}