
.sorted_section{
    display: flex;  
    gap: 40px;
    margin-bottom: 40px;

}

.buttons_wrapper{
    display: flex;
margin-top: 40px;
gap: 16px;

    
}
h3{
    font-size: 20px;
    font-weight: 600;
}


@media (max-width: 768px) {
    .sorted_section{
        flex-direction: column;
        gap: 20px;
}}