
.order_details_wrapper {
  border-radius: 12px;
  width: 548px;
  height: 582px;
  background: var(--light-grey);
  box-sizing: border-box;
  padding: 32px 32px 0px 32px;
}
.dark_mode.order_details_wrapper {
  background: #383A2C;
}

.detail_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.dark_mode.detail_row p{
  color: #8B8B8B;
  font-weight: 700;
}
.order_details_wrapper h3 {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.1;
  color: var(--black);
}

.detail_row p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  color: var(--grey);
  padding-top: 20px;
}



.detail_row_total {
  display: flex;
  gap: 8px;
  font-weight: 500;
  line-height: 52px;
  color: var(--grey);
}

.detail_row_total p{
  font-size: 40px !important;
}

.dark_mode.detail_row_total {
  color: #8B8B8B;
}

.total_price {
  font-family: var(--font-family);
  font-weight: 700 !important;
  font-size: 64px !important;
  line-height: 110% !important;
  color: var(--black) !important;
  padding-top: 0px !important;
}




@media screen and (max-width: 999px) {
  .order_details_wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .order_details_wrapper {
    width: 100%;
    max-width: none;
    margin-top: 20px;
  }
}
