

   .order_details_wrapper {
    border-radius: 12px;
    padding: 32px;
    width: 548px;
    background: var(--light-grey);
  }
  
  .detail_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  h3 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
    color: var(--black);
  }
  
  .detail_row p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 1.3;
    color: var(--grey);
  }
  
  .detail_row_total {
    display: flex;
    gap: 8px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.3;
    color: var(--grey);
  }
  
  .total_price {
    font-family: var(--font-family);
    font-weight: 700 !important;
    font-size: 48px !important;
    line-height: 110% !important;
    color: var(--black) !important;
  }
  
  @media screen and (max-width: 768px) {
    .order_details_wrapper {
      width: 100%;
      max-width: none;
      margin-top: 20px;
    }
  }
  