

   .basket_card {
    position: relative;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
    border: 1px solid var(--grey-divider);
    border-radius: 12px;
    background-color: var(--white);
    border: 1px solid var(--grey-divider);
    height: 180px;
    width: 100%;
  }

  ul{
    width: 780px;
    
  }
  .dark.basket_card {
    background-color: #383A2C;
  }
  
  .remove_button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .remove_button:hover svg,
  .remove_button:focus svg {
    color: gray;
  }
  
  .remove_button_x {
    width: 24px;
    height: 24px;
  }
  
  .product_image {
    

    height: 100%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .product_details {
    flex-grow: 1;
  }
  
  .count_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .price_container {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .product_price {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
    color: var(--black);
    
  }
  
  .original_price {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    text-decoration: line-through;
    color: var(--grey);
  }
  
  .discont_tag {
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: var(--sale);
    color: var(--white);
    padding: 5px;
    font-size: 12px;
    border-radius: 50%;
    
  }
  
  .controls_and_cart {
    display: flex;
    align-items: center;
     width: 200px;
     height: 58px;
  }
  
  .title_and_close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  h5 {
    max-width: 100%;
    height: 26px; 
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    color: var(--black);
    margin: 0;
    margin-bottom: 12px;
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    transition: all 0.3s ease-in-out; 
    position: relative;
  }
  
  h5:hover {
    white-space: normal;
    height: auto;
    overflow: visible;
  }

  /* h5:hover::after {
    content: attr(title);
    position: absolute;
    background: var(--white);
    border: 1px solid var(--grey-divider);
    border-radius: 4px;
    padding: 8px;
    top: -5px;
    left: 0;
    z-index: 10;
    white-space: nowrap;
  } */
  @media screen and (max-width: 1440px) {
    .basket_card {
      max-width: 780px;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .basket_card {
      border: 1px solid var(--grey-divider);
      border-radius: 12px;
      max-width: 470px;
      
      height: 218px;
      padding: 20px 20px 20px 0px;

    }
  
    .price_container {
     
      padding: 12px 0px;
    }
  
    .controls_and_cart {
      width: 100%;
     margin-left: 12px;

    }
    .count_wrapper {
      flex-direction: column;
      align-items:flex-start;
      
    }
  
    .product_price {
      font-weight: 600;
      font-size: 40px;
      line-height: 1.1;
      color: var(--black);
      padding-bottom: 20px;
    }
  
    h5 {
      margin-bottom: 12px;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 20px;
      line-height: 1.3;
      color: var(--black);
      max-width: 200px;
    }
  }
  
  @media screen and (max-width: 767px) {

    .count_wrapper {
      flex-direction: column;
      align-items:flex-start;
      
    }
    .basket_card {
      width: 100%;
    }
  
    .product_image {
      max-width: 229px;
    }
  
  
  
    .price_container {
      display: flex;
      justify-content: flex-start;
      gap: 8px;
    }
  
    .product_price {
      font-weight: 600;
      font-size: 40px;
      line-height: 1.1;
      color: var(--black);
      margin-left: 12px;
    }
  
    .discont_price {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.3;
      text-decoration: line-through;
      color: var(--grey);
    }
  }
  
  @media screen and (max-width: 480px) {
    .basket_card {
      border: 1px solid var(--grey-divider);
      border-radius: 12px;
      max-width: 440px;      
    }
   
    .product_image {
      margin-right: 20px;
      margin-bottom: 0;
      border-radius: 12px 0 0 12px;
      max-width: 210px;
      height: 175px;
    }
  
    
  
    .controls_and_cart {
      width: 100%;
      margin-bottom: 12px;
      max-width: 146px;
      height: auto;
    }
  
    .price_container {
     display: flex;
      align-items: center;
      
      
    }
  
    h5 {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 1.3;
      max-width: 100px;
      
      
    }
  
    .product_price {
      font-weight: 600;
      font-size: 28px;
      line-height: 1.1;
      margin-left: 0;
    }
    .discont_price{
      font-weight: 500;
      font-size: 16px;
      line-height: 1.3;
 
    }
  }
  
  @media screen and (max-width: 360px) {
    .basket_card {
      
      max-width: 320px;
      height: auto;
    }
  
    .remove_button_x {
      font-size: 24px;
    }

    .product_image {
    max-width: 116px;
    
    }
    .product_details{
      padding: 20px 20px 20px 0px;
      width: 210px;
      height: 203px;
    }
    .count_wrapper{
      width: 164px;
height: 47px;
align-items: flex-start;
    }
  }
  

   


   