

   .basket_card {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    border: 1px solid var(--grey-divider);
    border-radius: 12px;
    background-color: var(--white);
    border: 1px solid var(--grey-divider);
    height: 180px;
    width: 780px;
  }
  .product_image {
    width: 200px;
    height: 178px;
    object-fit: cover;
    border-radius: 12px 0 0 12px;
    border-right: 1px solid var(--grey-divider);
  }


  ul{
    width: 780px;
  }

  .dark.basket_card {
    background-color: #383A2C;
  }

  .product_details {
    flex-grow: 1;
  }
  
  .count_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px 0 32px 32px;
    gap: 32px;
  }
  
  .price_container {
    display: flex;
    align-items: end;
    gap: 16px;
    margin-left: 15px;
  }
  
  .product_price {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
    color: var(--black);
    
  }
  
  .original_price {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-decoration: line-through;
    color: var(--grey) !important;
  }
  
  /* .discont_tag {
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: var(--sale);
    color: var(--white);
    padding: 5px;
    font-size: 12px;
    border-radius: 50%;
    
  } */
  
  .controls_and_cart {
    display: flex;
    align-items: center;
     width: 200px;
     height: 58px;
  }

  .remove_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .remove_button:hover svg,
  .remove_button:focus svg {
    color: gray;
  }
  
  .remove_button_x {
    width: 24px;
    height: 24px;
  }
  
  .title_and_close {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 32px 0 0 32px;
  }
  h5 {
    width: 476px;
    height: 26px; 
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    color: var(--black);
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

h5:hover {
    white-space: normal;
    overflow: visible;
    max-width: none;
    cursor: pointer;
}





@media (max-width: 1439px) and (min-width: 1000px) {
  .basket_card {
    height: 192px;
    width: 470px;
  }
  .product_image {
    width: 200px;
    height: 190px;
  }

  ul{
    width: 470px;
  }
  
  .count_wrapper {
   flex-direction: column;
   align-items: flex-start;
   gap: 12px;
   padding: 12px 0 20px 20px;
  }
  .remove_button_x {
    width: 24px;
    height: 24px;
  }

  .title_and_close {
    width: 250px;
    gap: 12px;
    padding: 20px 0 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  h5 {
    font-size: 20px;
  }
  .price_container {
    gap: 12px;
    margin-left: 0px;
  }
} 

@media (max-width: 999px) and (min-width: 768px) {
  .basket_card {
    height: 136px;
    width: 728px;
  }
  .product_image {
    width: 200px;
    height: 134px;
  }

  ul{
    width: 479px;
  }
  
  .count_wrapper {
   gap: 12px;
   padding: 12px 0 20px 20px;
  }
  .controls_and_cart {
    width: 176px;
  }
  .remove_button_x {
    width: 24px;
    height: 24px;
  }

  .title_and_close {
    gap: 12px;
    padding: 20px 20px 0 20px;
  }
} 


@media (max-width: 767px) and (min-width: 480px) {
  .basket_card {
    height: 175px;
    width: 440px;
  }
  .product_image {
    width: 210px;
    height: 173px;
  }

  ul{
    width: 210px;
  }
  
  .count_wrapper {
   flex-direction: column;
   align-items: flex-start;
   gap: 12px;
   padding: 12px 0 20px 20px;
   width: 210px;
  }
  .controls_and_cart {
    width: 210px;
    height: auto;
  }
  .remove_button_x {
    width: 24px;
    height: 24px;
  }

  .title_and_close {
    width: 230px;
    gap: 12px;
    padding: 20px 20px 0 20px;
  }

  .product_price {
    font-size: 36px;
  }
  
  .original_price {
    font-size: 18px;
    line-height: 23.4px;
  }
  .price_container {
    gap: 12px;
    margin-left: 0px;
  }
} 


@media (max-width: 479px) and (min-width: 360px) {
  .basket_card {
    height: 175px;
    width: 320px;
  }
  .product_image {
    width: 116px;
    height: 175px;
  }

  ul{
    width: 164px;
  }
  
  .count_wrapper {
   flex-direction: column;
   align-items: flex-start;
   gap: 12px;
   padding: 12px 0 17px 20px;
   width: 202px;
  }
  .controls_and_cart {
    width: 164px;
    height: auto;
  }
  .remove_button_x {
    width: 24px;
    height: 24px;
  }

  .title_and_close {
    width: 202px;
    gap: 12px;
    padding: 20px 15px 0 20px;
  }

  .product_price {
    font-size: 36px;
  }
  
  .original_price {
    font-size: 18px;
    line-height: 23.4px;
  }
  .price_container {
    gap: 12px;
    margin-left: 0px;
  }
}


@media (max-width: 359px) and (min-width: 0px) {
  .basket_card {
    height: 175px;
    width: 320px;
  }
  .product_image {
    width: 116px;
    height: 175px;
  }

  ul{
    width: 164px;
  }
  
  .count_wrapper {
   flex-direction: column;
   align-items: flex-start;
   gap: 12px;
   padding: 12px 0 17px 20px;
   width: 202px;
  }
  .controls_and_cart {
    width: 164px;
    height: auto;
  }
  .remove_button_x {
    width: 24px;
    height: 24px;
  }

  .title_and_close {
    width: 202px;
    gap: 12px;
    padding: 20px 15px 0 20px;
  }

  .product_price {
    font-size: 36px;
  }
  
  .original_price {
    font-size: 18px;
    line-height: 23.4px;
  }
  .price_container {
    gap: 12px;
    margin-left: 0px;
  }
}
