
.buttonDiscount{
font-family: var(--font-family);
line-height: 1.26;
text-align: center;
color: var(--txt-white);
border-radius: 6px;
padding: 6px 16px;
max-width: 151px;
background: var(--green);
border: none;
}



@media (max-width: 480px) {
    
}