  .button_discount{
  font-family: var(--font-family);
  line-height: 1.26;
  text-align: center;
  border-radius: 6px;
  padding: 6px 16px;
  max-width: 151px;
  background: var(--green);
  color:var(--white)!important;
  transition: all var(--transition);
  border: none !important;
  }

  .dark.button_discount:hover{
    background-color: #f2f6d3 !important;
    color: #92a134 !important;
  }

  .button_discount:hover{
    background: #424436 !important;
    color: #FFFFF1 !important;
  }
  
  
  @media (max-width: 480px) and (min-width: 360px) {
    .button_discount {
    padding: 6px 16px;
    width: 211px;
    height: 42px;
    }
  }
  @media (max-width: 768px) and (min-width: 767px) {
      .button_discount {
        display: none;
      }
  }


