.hero_container {
    position: relative;
    width: 100%;
    height: 605px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    background-image: url('../../media/images/hero-img.jpg');
    background-size: cover;
    padding: 0 30px;
    overflow: hidden;
}

.hero_content {
    position: relative;
    z-index: 1;
    
}

.title {
    margin-bottom: 20px;
    z-index: 1;
    font-weight: bold;
    font-size: 96px;
    max-width: 1109px;
}

.cta_button {
    z-index: 1;
    padding: 16px 56px;
    font-size: 20px;
    background-color: #92A134; 
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.cta_button:hover {
    background-color: #6a7524;
}


  