.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%; /* ensure the form takes full width of its parent */
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.input {
  border: 1px solid var(--grey-divider);
  border-radius: 6px;
  padding: 16px 32px;
  width: 100%; 
  max-width: 100%; 
  height: 58px;
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 130%;
  color: var(--grey);
}

.input::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: var(--grey);
}

.error {
  color: red;
  margin-top: 8px;
  font-size: 14px;
}

.button {
  padding: 16px 32px;
  color: var(--txt-white);
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  width: 100%; 
  max-width: 100%;
  height: 58px;
  text-align: center;
  line-height: 1.3;
  transition: all var(--transition);
}

.button:active {
  background-color: var(--black);
}
