/* .form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 484px;
  height: 206px;
}



.formGroup {
  display: flex;
  flex-direction: column;
}

.input {
  border: 1px solid var(--grey-divider);
  border-radius: 6px;
  padding: 16px 32px;
  width: 100%; 
  max-width: 100%; 
  height: 58px;
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 1.3;
  color: var(--grey);
}
.darkmode.input {
  border: 1px solid #8B8B8B;
  background-color: #424436;
  color: #8B8B8B;
}

.input::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: var(--grey);
}

.error {
  color: red;
  margin-top: 8px;
  font-size: 14px;
}

.button {
  padding: 16px 32px;
  color: var(--txt-white);
  background-color: var(--green);
  border-color: transparent;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  width: 100%; 
  max-width: 100%;
  height: 58px;
  text-align: center;
  line-height: 1.3;
  transition: all var(--transition);
}

.button:active {
  background-color: var(--black);
  
} */



/* 
.form {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 484px;
  height: 296px;
  position: static !important;
}

.formGroup {
  display: flex;
  justify-content: center;
}

.input {
  border: 1px solid var(--grey-divider);
  border-radius: 6px;
  padding: 16px 32px;
  width: 484px; 
  height: 58px;
  height: 58px;
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 1.3;
  color: var(--grey);
}
.darkmode.input {
  border: 1px solid #8B8B8B;
  background-color: #424436;
  color: #8B8B8B;
}

.input::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: var(--grey);
}

.error {
  color: red;
  margin-top: 8px;
  font-size: 14px;
}

.button {
  padding: 16px 32px;
  color: var(--txt-white);
  background-color: var(--green);
  border-color: transparent;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  width: 100%; 
  max-width: 100%;
  height: 58px;
  text-align: center;
  line-height: 1.3;
  transition: all var(--transition);
  margin-top: 22px;
}

.button:active {
  background-color: var(--black);
  
} */
