
.filter_wrapper{
    display: flex;
    gap: 16px;
    align-items: center;
}


.inputWrapper {
    display: flex;
  }

.filter_wrapper h3{
  margin: 0;
}

  
  
  .inputWrapper input {
    border: 1px solid var(--grey-divider);
    border-radius: 6px;
    padding: 8px 16px;
    width: 112px;
    height: 36px;
    margin-right: 16px; 
  }
  
  .inputWrapper input:last-child {
    margin-right: 0;
  }
  