
.basketIcon {
    width: 48px;
    height: 48px;
}

.basketIcon {
    cursor: pointer;
}
 

@media (max-width: 1000px) and (min-width: 480px){
    .basketIcon {
        width: 44px;
        height: 44px;
    }
}
    
   
@media (max-width: 480px) and (min-width: 360px) {
    .basketIcon {
        width: 32px;
        height: 32px;
    }
}
@media (max-width: 360px) and (min-width: 0px) {

    .basketIcon{
       display: none;
    }  
}
    