.button_elem {
  border-radius: 6px;
  padding: 16px 32px;
  max-width: auto;
  height: 58px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button_elem:hover {
  color: #FFFFFF;
}

