.buttonAdd {
    max-width: 100%;
    display: flex;
    border-radius: 6px;
    padding: 16px 32px;
    min-width: 316px;
    height: 58px;
    background: var(--green);
    color: var(--white);
    transition: var(--transition);
    justify-content: center;
    align-items: center;
}

.buttonAdd:hover {
    background: #424436 !important;
    color: #FFFFFF !important;
} 

.added {
    background-color: #FFFFF1 !important;
    color: #424436 !important;
    border: 1px solid #424436 !important;
}
.added:hover {
    background-color: #FFFFF1 !important;
    color: #424436 !important;
    border: 1px solid #424436 !important;
}