.form_container {
    background: linear-gradient(80.46deg, #87933D -0.68%, #55610B 66.66%);
    width: 100%;
    max-width: 1376px;
    border-radius: 12px;
    margin: 0 auto;
    position: relative;
    height: 514px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
}

.form_container h3 {
    color: #FFFFF1;
    margin: 10px 0;
    font-size: 64px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    white-space: nowrap;
}

.content {
    display: flex;
}

.form_section {
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 516px;
    height: 324px;
    position: absolute; 
    bottom: 32px; 
    right: 30px;
}

.form_container img {
    width: 748px;
    height: 360px;
    object-fit: cover;
    padding: 0;
}

.form_container input {
    padding: 30px;
    margin: 7px 0;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
    height: 58px;
    background-color: transparent;
    border: 1px solid #FFFFF1;
    color: #FFFFF1;
}


.form_container button {
    padding: 10px;
    background-color: #FFFFF1;
    color: #424436;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    height: 58px;
    margin-top: 20px;
}
.form_container button:hover {
    background-color: #424436;
    color: #FFFFF1;
}
.greenBackground {
    background-color: #F2F6D3 !important;
    color: #92A134 !important;
}

.warning_text {
    display: inline-flex;
    width: 100%;
    color: #FFFFF1;
    margin-top: 0px;
    padding-bottom: 0px;
}

.success_text {
    display: inline-flex;
    width: 100%;
    color: #FFFFF1;
    margin-top: 0px;
    padding-bottom: 0px;
}


/* -------------------------------------------- */

.alternative_form_container {
    background: none;
    padding: 0 !important;
}
.alternative_form_section{
    background: none;
    padding: 0;
    height: 320px !important;
    padding-top: 0px !important;
}
.form_alternative{
    background: none;
    padding: 0;
    height: 320px !important;
    position: static !important;
}

.input_alternative{
    padding: 16px 32px !important;
    width: 484px !important; 
    height: 58px !important;
    margin-top: 16px !important;
    margin-bottom: 0 !important;
    border: 1px solid #DDDDDD !important;
    background-color: #FFFFFF !important;
}

.input_alternative:first-child {
    margin-top:  7px !important;
}
.input_alternative:nth-child(3) {
    margin-bottom: 5px !important; 
}
.button_alternative{
    margin-top:  32px !important;
    position: absolute;
    bottom: 20px; 
}
.alternative_form_container .dark_mode_input{
    border: 1px solid #8B8B8B !important;
    background-color: #424436 !important;
}

.alternative_form_container .warning_text_alternative{
    color: #8B8B8B !important;
}
.alternative_form_container .dark_mode_warning_text.warning_text_alternative{
    color: #8B8B8B !important;
}

.alternative_form_container .success_text_alternative{
    color: #92A134!important;
}
.alternative_form_container .dark_mode_success_text.success_text_alternative{
    color: #8B8B8B !important;
}

.button_alternative {
    background-color: #92A134 !important;
    color: #FFFFFF !important;
}
.button_alternative:hover {
    background-color: #424436 !important;
    color: #FFFFF1 !important;
}
.dark_mode .button_alternative:hover {
    background-color: #f2f6d3!important; 
    color: #424436 !important; 
}
/* -------------------------------------------- */
  

@media (max-width: 1373px) and (min-width: 1000px) {

    .form_container {
        height: 454px;
    }
    
    .form_container h3 {
        font-size: 64px;
    }

    form {
        width: 450px;
        height: 304px;
        bottom: 20px; 
        right: 20px;
    }
    
    .form_container img {
        width: 602px;
        height: 308px;
        margin-left: -150px;
    }

    .form_container input {
        font-size: 20px;
        width: 450px;
        height: 58px;
    }

    .form_container button {
        font-size: 20px;
        width: 450px;
        height: 58px;
    }

    .warning_text, .success_text {
        font-size: 16px;
    }

    
    .form_alternative{
        background: none;
        padding: 0;
        height: 310px !important;
        /* position: sticky !important; */
    }
    .alternative_form_section{
        height: 310px !important;
        justify-content: flex-start;
    }
    .input_alternative{
        width: 430px !important; 
        height: 58px !important;
        margin-top: 12px !important;
    }

    .button_alternative{
        width: 430px !important;
        margin-top: 0px !important;
    }
    
}

@media (max-width: 999px) and (min-width: 768px) {
    .form_container {
        display: flex;
        height: 460px;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .form_container h3 {
        font-size: 56px;
    }

    form {
        width: 334px;
        height: 308px;
        bottom: 30px; 
        right: 20px;
    }
    
    .form_container img {
        width: 602px;
        height: 308px;
        margin-left: -250px;
    }

    .form_container input {
        font-size: 20px;
        width: 334px;
        height: 58px;
    }

    .form_container button {
        font-size: 20px;
        width: 334px;
        height: 58px;
    }

    .warning_text, .success_text {
        font-size: 16px;
    }



    .input_alternative{
        width: 688px !important; 
        height: 58px !important;
    }

    .button_alternative{
        width: 172px !important;
    }
    
}

@media (max-width: 766px) and (min-width: 480px) {
    .form_container {
        width: 100%;
        height: 614px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form_container h3 {
        font-size: 48px;
        width: 400px;
        height: 106px;
        text-align: center;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        padding: 20px;
        margin-bottom: 20px;
        white-space: pre-wrap;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: relative; 
        bottom: 0;
        right: 0;
        padding: 20px;
        align-items: center;
    }
    .form_container img {
        width: 454px;
        height: 232px;
        object-fit: cover;
        margin-left: 0px;
    }

    .form_container input {
        padding: 10px;
        font-size: 18px;
        width: 400px;
        height: 47px;
    }

    .form_container button {
        font-size: 18px;
        width: 400px;
        height: 47px;
    }
    .warning_text{
        font-size: 14px;
        word-break: break-word; 
        text-align: start; 
    }
    .success_text {
        font-size: 14px;
        width: 400px;
        word-break: break-word;  
        white-space: normal; 
    }

    .input_alternative{
        width: 400px !important; 
        height: 58px !important;
    }

    .button_alternative{
        width: 400px !important;
    }


    .alternative_form_section{
        height: 250px !important;
        justify-content: flex-start;
    }
    .input_alternative{
        width: 400px !important; 
        height: 47px !important;
        margin-top: 8px !important;
    }
}


@media (max-width: 479px) and (min-width:360px) {
    .form_container {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    .form_container h3 {
        font-size: 40px;
        width:200px;
        height: 88px;
        text-align: center;
        position: relative;
        top: 5;
        left: 0;
        transform: none;
        white-space: pre-wrap;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: relative; 
        bottom: 0;
        right: 0;
        margin-top: 90px;
        align-items: center;
    }
    .form_container img {
        width: 454px;
        height: 232px;
        object-fit: cover;
        margin-left: 0px;
    }

    .form_container input {
        padding: 10px;
        font-size: 18px;
        width: 280px;
        height: 47px;
    }

    .form_container button {
        font-size: 18px;
        width: 280px;
        height: 47px;
    }

    .warning_text{
        font-size: 14px;
        max-width: 280px;
        align-items: flex-start;
        word-break: break-word; 
    }
    .success_text {
        font-size: 14px;
        width: 280px;
        word-break: break-word;  
        white-space: normal; 
    }

    .input_alternative{
        width: 280px !important; 
        height: 47px;
        font-size: 0;
        margin-top: 10px !important;
    }

    .button_alternative{
        width: 280px !important;
        height: 47px;
        margin: 0px;
    }
    .form_alternative{
        margin-top: 0px;
    }

    .button_alternative{
        bottom: 45px; 
    }
    
    .success_text_alternative {
        font-size: 10px;
        width: 260px;
        word-break: break-word;  
        white-space: normal; 
    }
}
