
.footer{
    padding: 32px;
}

h1{
    font-size: 64px;
    padding-bottom: 40px;
}

.footer_wrapper{

    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 32px;  
    
}
@media (max-width: 480px) {
    .footer{
        padding: 20px;
    }
    .footer_wrapper{
        grid-template-columns: 1fr;
        gap: 12px;
    }
    .footer h1 {
      font-size: 1.5rem;

    }
    .map{
        border-radius: 12px;
        width: 440px;
        height: 250px;
    }
  }

.footer_phone,
.footer_socials,
.address,
.working_hours
{
    background-color:var(--light-grey);
    padding: 32px;
    
    border-radius: 12px;
    font-size: 20px;
}


.social_wrapper{
    display: flex;
    gap: 13px;     
    
}
h4{
    font-size: 40px;    
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
p{
   padding-bottom: 16px;
}

.map{
    width: 100%;
    border-radius: 12px;
    margin-top: 32px;
}