
.footer{
    padding: 32px;

}

.footer_wrapper{

    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 32px;
    
    
}
.footer_phone,
.footer_socials,
.address,
.working_hours
{
    background-color:var(--light-grey);
    padding: 32px;
    margin-bottom: 20px;
    
}