
.footer{
    padding: 32px;
}

.footer_wrapper{

    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 32px;  
    
}
@media (max-width: 480px) {
    .footer{
        padding: 20px;
    }
    .footer_wrapper{
        grid-template-columns: 1fr;
        gap: 12px;
    }
    .footer h1 {
      font-size: 1.5rem;

    }
    .map{
        border-radius: 12px;
        width: 440px;
        height: 250px;
    }
  }

.footer_phone,
.footer_socials,
.address,
.working_hours
{
    background-color:var(--light-grey);
    padding: 32px;
    margin-bottom: 20px;
    
}
.social_wrapper{
    display: flex;
    gap: 3px;     
    
}

p{
   padding-bottom: 16px;

}

.map{
    width: 100%;
  
}