
h3{
  font-family: var(--font-family);
font-weight: 700;
font-size: 56px;
line-height: 1.1;
margin-top: 32px;

}
.basket_products_page {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.title_wrapper {
  grid-column: 1 / -1;
}


.button_details{
background-color: var(--green);
color: var(--white);
border: transparent;
border-radius: 6px;
padding: 16px 56px;
max-width: 313px;
height: 58px;
font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 1.3;
text-align: center;
color: var(--txt-white);
cursor: pointer;

}

.button_details:hover,
.button_details:active{
  background-color: var(--black);

}



.product_card_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-items: center;
}

.basket_items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.basket_items p{

  font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 1.3;
color: var(--black);
}

.order_details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 769px) {
  
  .product_card_wrapper {
    grid-template-columns: 1fr 1fr;
    justify-items: start;
   
  }

}

@media (max-width: 768px) {
  .product_card_wrapper {
    grid-template-columns: 1fr;
    justify-items: center; 
  }

  .basket_items, .order_details {
    max-width: 90%; 
    width: 100%;
  }
}
