.title_wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.title_wrapper h3 {
  margin-right: 10px;
  white-space: nowrap;
}

.basket_products_page {
  display: grid;
  grid-template-columns: 1fr;
}

.button_with_line {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
}


.button_with_line::before {
  content: '';
  flex-grow: 1;
  height: 0.1em;
  background-color: var(--grey-divider);
  margin-left: 32px; 
  }

.button_details:hover,
.button_details:active {
  background-color: var(--black);
}


.button_with_line {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
}


.product_card_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.basket_items {
  display: flex;
  flex-direction: column;
  gap: 32px; 
}

.basket_items p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px; 
  line-height: 26px;
  color: var(--black);
}

.button_details{
  background-color: #92A134;
  border: none;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  width: 313px;
  height: 58px;
  color: white !important;
}
.button_details:hover{
  background-color: #424436;
  border: 1px solid #FFFFF1 !important;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  width: 313px;
  height: 58px;
  color: white !important;
}

.order_details {
  display: flex;
  flex-direction: column;
  gap: 1.25rem; 
}
/* 
@media (max-width: 1200px) {
  .product_card_wrapper {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .product_card_wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1601px) {
  .product_card_wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
} */

@media (max-width: 1440px) and (min-width: 1000px) {
  .product_card_wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .button_with_line::before {
    margin-left: 16px; 
  }
  .title_wrapper h2 {
    font-size: 48px;
  }
} 

@media (max-width: 999px) and (min-width: 768px) {
  .product_card_wrapper {
    grid-template-columns: 1fr;
  }
  .button_with_line::before {
    margin-left: 16px; 
  }
  .title_wrapper h2 {
    font-size: 48px;
  }
} 


@media (max-width: 767px) and (min-width: 480px) {
  .product_card_wrapper {
    grid-template-columns: 1fr;
  }
  .button_with_line::before {
    margin-left: 16px; 
  }
  .title_wrapper h2 {
    font-size: 48px;
  }
} 


@media (max-width: 479px) and (min-width: 360px) {
  .product_card_wrapper {
    grid-template-columns: 1fr;
  }

  .button_with_line,
  .button_with_line::before {
    display: none;
  }
  .title_wrapper h2 {
    font-size: 40px;
  }
}
