.title_wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.title_wrapper h2{
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
}

.basket_products_page {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  margin-bottom: 10px;
}


.button_with_line::before {
  content: '';
  flex-grow: 1;
  height: 0.1em;
  background-color: var(--grey-divider);
  margin-left: 32px; 
  }

.button_details:hover,
.button_details:active {
  background-color: var(--black);
}


.button_with_line {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
}


.product_card_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}


.basket_items {
  display: flex;
  flex-direction: column;
  gap: 32px; 
}

.basket_items p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px; 
  line-height: 26px;
  color: var(--black);
}

.button_details{
  background-color: #92A134;
  border: none;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  width: 313px;
  height: 58px;
  color: white !important;
}
.button_details:hover{
  background-color: #424436;
  border: 1px solid #FFFFF1 !important;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  width: 313px;
  height: 58px;
  color: white !important;
}

.button_back,
.button_back_store{
  display: none;
}

.order_details {
  display: flex;
  flex-direction: column;
  gap: 1.25rem; 
}


@media (max-width: 1439px) and (min-width: 1000px) {
  .product_card_wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .button_with_line::before {
    margin-left: 16px; 
  }
  .title_wrapper h2{
    font-size: 64px;
  }
  .button_back,
  .button_back_store{
    display: none;
  }

} 

@media (max-width: 999px) and (min-width: 768px) {
  .product_card_wrapper {
    grid-template-columns: 1fr;
  }
  .button_with_line::before {
    margin-left: 16px; 
  }
  .title_wrapper h2 {
    font-size: 56px;
  }
  .button_back,
  .button_back_store{
    display: none;
  }
} 

@media (max-width: 767px) and (min-width: 500px) {
  .product_card_wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .button_with_line::before {
    margin-left: 16px; 
  }
  .title_wrapper h2 {
    font-size: 48px;
    width: 270px;
  }
  
  .button_back,
  .button_back_store{
    display: none;
  }
} 

@media (max-width: 499px) and (min-width: 480px) {
  .product_card_wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .button_with_line::before {
    margin-left: 16px; 
    display: none;
  }
  .button_with_line_back{
    font-size: 14px;
    padding: 8px 16px 8px 16px;
    margin-top: 50px;
    margin-left: 10px;
  }
  .title_wrapper {
    align-items: flex-start;
  }
  .title_wrapper h2 {
    font-size: 48px;
    width: 270px;
  }
  .basket_items p {
    font-size: 18px; 
  }
  
  .button_back,
  .button_back_store{
    display: none;
  }
} 


@media (max-width: 479px) and (min-width: 360px) {
  .product_card_wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .button_with_line,
  .button_with_line::before {
    display: none;
  }

  .button_back_store{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
  }
  .button_back{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 12px 24px 12px 24px;
  }
  .button_back:hover,
  .button_back:active {
    background-color: var(--black);
  }
  .basket_items p {
    font-size: 18px; 
  }
  .title_wrapper h2 {
    font-size: 40px;
  }
}
