
    .category_img {
        border-radius: 12px;
        max-width: 316px;
        height: 300px;
        object-fit: cover;
        transition: all var(--transition);
      }

      .category_img:hover{
        transform: translateY(-5px);
        box-shadow: 0px 6px 9px #a1a392;
      }
      
      .categories_items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 32px;
        cursor: pointer;
      }
      
      .category_content {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
      }
      
      .category_title {
        margin-top: 10px;
        text-align: center;
      }
      
      @media (max-width: 1000px) {
        .category_img {
          max-width: 225px;
          height: 220px;
          object-fit: cover;
        }
        .categories_items {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
          gap: 20px;
        }
        
        
      }

      @media (max-width: 768px) {
        .category_img {
          max-width: 354px;
          height: 250px;
          object-fit: cover;
        }
        .categories_items {
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          gap: 20px;
        }
      }
      @media (max-width: 659px) {
        .category_img {
          max-width: 354px;
          height: 250px;
          object-fit: cover;
        }
        .categories_items {
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          gap: 20px;
        }
      }
      
      @media (max-width: 480px) {
        .category_img {
          max-width: 210px;
          height: 254px;
          object-fit: cover; 
        }
        .categories_items {
          grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
          gap: 20px;
        }
      }
      
      @media (max-width: 360px) {
        .category_img {
          max-width: 320px;
          height: 220px;
        }
        .categories_items {
          grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
          gap: 20px;
        }
      }
      