  .count_controls {
    position: relative;
    display: inline-flex; 
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .decrement_button,
  .increment_button {
    border: 1px solid var(--grey-divider);
    border-radius: 6px;
    width: 58px;
    height: 58px;
    cursor: pointer;
    color: var(--grey);
    background-color: transparent;
    margin: -1px; 
    padding: 0;
    box-sizing: border-box;
  }
  
  .icon {
    height: 56px;
  }
  
  .count {
    border-bottom: 1px solid var(--grey-divider);
    border-top: 1px solid var(--grey-divider);
    width: 98px;
    height: 58px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -3px; 
    padding: 0;
    box-sizing: border-box;
  }




@media (max-width: 1439px) and (min-width: 1000px) {
  .count_controls span {
    width: 68px; 
  }
  .decrement_button,
  .increment_button {
    width: 58px;
    height: 58px;
  }

  .count {
    width: 96px;
    height: 58px;
  }
} 


@media (max-width: 999px) and (min-width: 768px) {
  .count_controls span {
    width: 68px; 
  }
  .decrement_button,
  .increment_button {
    width: 58px;
    height: 58px;
  }

  .count {
    width: 96px;
    height: 58px;
  }
} 


@media (max-width: 767px) and (min-width: 480px) {
  .count_controls span {
    width: 86px;
    height: 47px;
  }
  .decrement_button,
  .increment_button {
    width: 47px;
    height: 47px;
  }

  .icon {
    height: 47px;
  }
  .count {
    font-size: 18px;
  }
} 


@media (max-width: 479px) and (min-width: 360px) {
  .count_controls span {
    width: 80px;
    height: 47px;
  }
  .decrement_button,
  .increment_button {
    width: 47px;
    height: 47px;
  }

  .icon {
    height: 47px;
  }
  .count {
    font-size: 18px;
  }

}