
.favoriteIcon {
    width: 48px;
    height: 48px;
}

.favoriteIcon {
    cursor: pointer;
}




@media (max-width: 1000px) and (min-width: 480px){
    .favoriteIcon {
        width: 44px;
        height: 44px;
    }
}
    
   
@media (max-width: 480px) and (min-width: 360px) {
    .favoriteIcon {
        width: 32px;
        height: 32px;
    }
}
    