
.button {
    padding: 8px 16px;
    border: 1px solid var(--grey-divider);
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.26;
    text-align: center;
    color: var(--grey);
    transition: background-color var(--transition);
    position: relative;
    display: inline-block;
}

.button.withline::after {
    content: '';
    position: absolute;
    bottom: 50%;
    left: 100%;
    width: 17px;
    height: 1px;
    background-color: var(--grey-divider);
}

.button.noline::after {
    display: none;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  color: #424436;
}



