.button {
  position: relative;
  padding: 6px 16px 6px 16px;
  border: 1px solid var(--grey-divider);
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.26;
  text-align: center;
  color: var(--grey);
  transition: background-color var(--transition);
  cursor: pointer;
  
 
}

.button:hover {
  color: var(--grey);
  background-color: var(--light-grey);
}

.button.active {
  font-weight: 500;
  color: var(--black);
}

:global(.dark-mode) .button.active{
	color: #ffffff;
}

.button + .button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -16px;
  width: 16px;
  height: 1px;
  background-color: var(--grey-divider);
  transform: translateY(-50%);
}


@media (max-width: 768px) {
  .button {
    font-size: 12px;
    padding: 4px 12px; 
  }
}

