.product_card_container {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    width: 100%;
   
  }
  
  .product_card_container:hover {
    transform: translateY(-0.3125rem);
  }
  

  